<footer>
  <nav>
    <a href="https://github.com/cjones26" target="_blank">GitHub</a> &#9553;
    <a href="https://cjones26.github.io/" target="_blank">GitHub.io</a>
    &#9553;
    <a href="https://cjones26.github.io/web215" target="_blank">WEB215.io</a>
    &#9553;
    <a href="https://www.freecodecamp.org/cjones26" target="_blank">freeCodeCamp</a>
    &#9553;
    <a href="https://www.codecademy.com/profiles/cjones26" target="_blank">Codecademy</a>
    &#9553;
    <a href="https://jsfiddle.net/u/cjones26/fiddles/" target="_blank">JSFiddle</a>
    &#9553;
    <a href="https://www.linkedin.com/in/charlesljones/" target="_blank">LinkedIn</a>
    &#9553;
    <a href="https://www.nigglingaspirations.com" target="_blank">IT Blog</a>
  </nav>
  <p>Website designed by Valence Software, certified in <a
      href="https://www.freecodecamp.org/certification/cjones26/responsive-web-design">RWD</a> and <a
      href="https://www.freecodecamp.org/certification/cjones26/javascript-algorithms-and-data-structures-v8">JADS</a>.
  </p>
  <p>&copy;2025</p>
</footer>