<!DOCTYPE html>

<header>
  <div>
    <img src="images/logo.png" alt="Paws & Whiskers Co. Logo">
    <h1>Charles Jones' Paws &amp; Whiskers Co.</h1>
  </div>
  <nav>
    <ul>
      <li><a href="./">Home</a></li>
      <li><a href="contract.html">Course Contract</a></li>
      <li><a href="introduction.html">Introduction</a></li>
      <li><a href="brand.html">Brand Guide</a></li>
      <br />
      <li><a href="fizzbuzz0.html">Fizz Buzz 0</a></li>
      <li><a href="fizzbuzz1.html">Fizz Buzz 1</a></li>
      <li><a href="fizzbuzz2.html">Fizz Buzz 2</a></li>
    </ul>
  </nav>