<!DOCTYPE html>

<footer>
  <br>
  <nav>
    <a href="https://github.com/cjones26" target="_blank">GitHub</a> &#9553;
    <a href="https://cjones26.github.io/" target="_blank">GitHub.io</a>
    &#9553;
    <a href="https://cjones26.github.io/web115" target="_blank">WEB115.io</a>
    &#9553;
    <a href="https://cjones26.github.io/web250/index_old.html" target="_blank">WEB250.io</a>
    &#9553;
    <a href="https://www.freecodecamp.org/cjones26" target="_blank">freeCodeCamp</a>
    &#9553;
    <a href="https://www.codecademy.com/profiles/cjones26" target="_blank">Codecademy</a>
    &#9553;
    <a href="https://jsfiddle.net/u/cjones26/fiddles/" target="_blank">JSFiddle</a>
    &#9553;
    <a href="https://www.linkedin.com/in/charlesljones/" target="_blank">LinkedIn</a>
    &#9553;
    <a href="https://www.nigglingaspirations.com" target="_blank">IT Blog</a>
  </nav>
  <div id="tagline">
    Managing Money Together, Made Simple.
  </div>
  <div id="company-info">
    Designed by Valence Software &copy;2024
  </div>
</footer>