[data-theme="light"] {
  --color-background-base: #f0f8ff;
  --color-background-end: #ffffff;
  --color-foreground: #483d8b;
  --color-header: #4b0082;
  --color-link: #8a2be2;
  --color-link-hover: #5d3fd3;
  --color-table-background: #fdfdfd;
  --color-table-header-foreground: #ffffff;
  --color-table-header-background: #4b0082;
  --color-table-border: #483d8b;
  --color-button-background: #4b0082;
  --color-button-foreground: #f0f8ff;
  --color-button-hover-background: #5d3fd3;
  --color-button-active-background: #483d8b;
}

[data-theme="dark"] {
  --color-background-base: #2f4f4f;
  --color-background-end: #000000;
  --color-foreground: #f0f0f0;
  --color-header: #daa520;
  --color-link: #ffd700;
  --color-link-hover: #ffb14e;
  --color-table-background: #3d3d3d;
  --color-table-header-background: #daa520;
  --color-table-header-foreground: #000000;
  --color-table-border: #d3d3d3;
  --color-button-background: #daa520;
  --color-button-foreground: #1c1c1c;
  --color-button-hover-background: #ffd700;
  --color-button-active-background: #ffb14e;
}

body {
  background: var(--color-background-base);
  background-image: radial-gradient(
    circle at 0.5% 50.5%,
    var(--color-background-base) 0,
    var(--color-background-end) 100.2%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-foreground);
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 100%;
  margin: 3% 20%;
}

header {
  display: flex;
  flex-direction: column;
  align-content: center;
}

header img {
  align-self: center;
}

header nav {
  align-items: center;
  background: var(--color-background-base);
  background-image: radial-gradient(
    circle at 0.5% 50.5%,
    var(--color-background-end) 100.2% var(--color-background-base) 0
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.219);
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  text-wrap: nowrap;
}

header nav {
  padding: 5px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

nav ul li {
  padding: 5px 20px;
}

hr {
  height: 1px;
  background: var(--color-foreground);
  border: none; /* Ensure no default border is applied */
  margin: 20px 0;
  width: 100%;
}

h1 {
  color: var(--color-header);
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  justify-content: center;
  text-align: center;
}

h2 {
  color: var(--color-header);
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  margin: 0;
}

h3 {
  color: var(--color-header);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

a {
  color: var(--color-link);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 15px 20px;
}

figure figcaption {
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #f8f9fa59;
  padding: 20px 20px 0 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.219), 0 2px 4px rgba(0, 0, 0, 0.219);
  border-radius: 0 0 5px 5px;
  font-size: 1.2em;
}

main ul {
  text-align: left;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}

footer nav,
footer #tagline {
  margin: 20px 0;
}

footer #company-info {
  font-size: 0.875rem;
  margin-bottom: 10px;
}

footer #tagline {
  font-weight: 800;
}

#headshot {
  border-radius: 5px;
}

/* Table styles */

table {
  background-color: var(--color-table-background);
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-foreground);
  margin: 20px auto;
  max-width: 1200px;
  width: 100%;
}

table tr td:first-child {
  font-weight: bold;
}

th,
td {
  border: 1px solid var(--color-table-border);
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: var(--color-table-header-background);
  color: var(--color-table-header-foreground);
  font-family: "Fredoka One", sans-serif;
}

/* Color box styles */

.color-box {
  border: 1px solid var(--color-table-border);
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  width: 100px;
}

.color-box-background {
  background-image: radial-gradient(
    circle at 0.5% 50.5%,
    var(--color-background-base) 0,
    var(--color-background-end) 100.2%
  );
}

.color-box-heading {
  background-color: var(--color-header);
}

.color-box-text {
  background-color: var(--color-foreground);
}

.color-box-link-normal {
  background-color: var(--color-link);
}

.color-box-link-hovered {
  background-color: var(--color-link-hover);
}

/* Form styles */

form {
  text-align: left;
}

button,
input[type="submit"] {
  background-color: var(--color-button-background);
  color: var(--color-button-foreground);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover,
input[type="submit"]:hover {
  background-color: var(--color-button-hover-background);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:active,
input[type="submit"]:active {
  background-color: var(--color-button-active-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#toggle-theme {
  margin: 20px 0;
}

label {
  display: block;
  font-weight: bold;
  color: var(--color-foreground);
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

input,
select {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border: 1px solid var(--color-table-border);
  border-radius: 5px;
  background-color: var(--color-background-base);
  color: var(--color-foreground);
  font-family: "Montserrat", sans-serif;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

input:focus,
select:focus {
  border-color: var(--color-link);
  box-shadow: 0 0 5px var(--color-link);
  outline: 2px solid var(--color-link); /* Provide a visible outline */
}

/* Media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
