[data-theme='light'] {
  --color-background-base: #f0f8ff;
  --color-background-end: #ffffff;
  --color-foreground: #483d8b;
  --color-header: #4b0082;
  --color-link: #8a2be2;
  --color-link-hover: #5d3fd3;
  --color-table-background: #fdfdfd;
  --color-table-header-foreground: #ffffff;
  --color-table-header-background: #4b0082;
  --color-table-border: #483d8b;
  --color-button-background: #4b0082;
  --color-button-foreground: #f0f8ff;
  --color-button-hover-background: #5d3fd3;
  --color-button-active-background: #483d8b;
}

[data-theme='dark'] {
  --color-background-base: #2f4f4f;
  --color-background-end: #000000;
  --color-foreground: #d3d3d3;
  --color-header: #daa520;
  --color-link: #ffd700;
  --color-link-hover: #ffb14e;
  --color-table-background: #3d3d3d;
  --color-table-header-background: #daa520;
  --color-table-header-foreground: #000000;
  --color-table-border: #d3d3d3;
  --color-button-background: #daa520;
  --color-button-foreground: #1c1c1c;
  --color-button-hover-background: #FFD700;
  --color-button-active-background: #FFB14E;
}

body {
  background: var(--color-background-base);
  background-image: radial-gradient(
    circle at 0.5% 50.5%,
    var(--color-background-base) 0,
    var(--color-background-end) 100.2%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--color-foreground);
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 100%;
  margin: 5% 20%;
}

h1 {
  color: var(--color-header);
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  justify-content: center;
  text-align: center;
}

h2 {
  color: var(--color-header);
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h3 {
  color: var(--color-header);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--color-link);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  padding: 10px;
}

figure figcaption {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer nav,
footer #tagline {
  margin: 20px 0 20px;
}

footer #company-info {
  font-size: small;
  margin-bottom: 10px;
}

/* Table styles */

table {
  background-color: var(--color-table-background);
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-foreground);
  margin: 20px auto;
  max-width: 1200px;
  width: 100%;
}

table tr td:first-child {
  font-weight: bold;
}

th,
td {
  border: 1px solid var(--color-table-border);
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: var(--color-table-header-background);
  color: var(--color-table-header-foreground);
  font-family: 'Fredoka One', sans-serif;
}

/* Color box styles */

.color-box {
  border: 1px solid var(--color-table-border);
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  width: 100px;
}

.color-box-background {
  background-image: radial-gradient(
    circle at 0.5% 50.5%,
    var(--color-background-base) 0,
    var(--color-background-end) 100.2%
  );
}

.color-box-heading {
  background-color: var(--color-header);
}

.color-box-text {
  background-color: var(--color-foreground);
}

.color-box-link-normal {
  background-color: var(--color-link);
}

.color-box-link-hovered {
  background-color: var(--color-link-hover);
}

/* Button styles */

button {
  background-color: var(--color-button-background);
  color: var(--color-button-foreground);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: var(--color-button-hover-background);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:active {
  background-color: var(--color-button-active-background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
